@model Gui.WalletServiceRef.Wallet

<h2>Tegnebog Detaljer</h2>

<div style="color:white;">
    <dl class="dl-horizontal">
        <dt>
            Saldo
            @using (Html.BeginForm("EditBalance", "User", FormMethod.Post))
            {
                <input type="hidden" name="id" value="@Model.User.ID" />
                        <p>Indsæt flere penge</p>
                        <input type="text" name="text" style="width:100px;" /><input type="submit" id="sumbitText" value="Indsæt" />
            }
        </dt>
            
        <dd>
            @Html.DisplayFor(model => model.Balance)
        </dd>

        <dt>
            Tidslås
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LockTime)
        </dd>

        <dt>
            Max. Saldo 
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaxBalance)
        </dd>

        <dt>
            Min. Saldo
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MinBalance)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Tilbage til profil", "Index")
</p>
