@using Gui.Helpers;
@using Gui.OrderServiceRef;
@using Gui.CustomerServiceRef;
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")   

    @{
        OrderServiceClient oClient = new OrderServiceClient();
        CustomerServiceClient cClient = new CustomerServiceClient();
    }
</head>
<body>

    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <img class="movebanner" src="~/Pictures/drinkzy.png" heigh="50px" width="200px" />
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
              @Html.ActionLink(" ", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("Find Bar", "FindBar", "Home")</li>
                    <li>@Html.ActionLink("Kontakt", "Contact", "Home")</li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li style="margin-top:12px;">
                        @using (Html.BeginForm("Search", "Search", FormMethod.Post))
                        {
                            <input type="text" name="text" value="" />
                            <input type="submit" id="sumbitText" value="Søg" />
                        }
                    </li>
                    <li>@(AuthHelper.IsLoggedIn() ? @Html.ActionLink("Profile: " + AuthHelper.CurrentUser.Username, "Index", "User") : @Html.ActionLink("Log ind", "Login", "Auth"))  </li>
                    <li>@if(!AuthHelper.IsLoggedIn()){@Html.ActionLink("Opret Bruger", "Create", "Register")}</li>
                    <li>@if (AuthHelper.IsLoggedIn())
                    {
                        <a href="@Url.Action("Details", "Order", new { id = oClient.getLastOrderIDByUser(AuthHelper.CurrentUser.Username)})">@oClient.getAmountOfItemsInOrder(AuthHelper.CurrentUser.Username)<img src="https://upload.wikimedia.org/wikipedia/commons/8/8d/Carrito.png" alt="" height="20px" width="auto" /></a>
                    }</li>
                    <li>@if (AuthHelper.IsLoggedIn()){@Html.ActionLink("Log ud", "Logout", "Auth")}</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Drinkzy incorperated, Owned by Group 5</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
